*{
	margin: 0;
	padding: 0;
  font-family: 'Raleway', sans-serif;
}


body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbarlogin{
  background-color: #111;
  height: 15vh;
}

.navbarloginh4{
color:#aaa;
letter-spacing: 1px;
text-align: center;
}

.navbarloginp1{
  width:20%;
  border-top: 1px solid  #A67C00;
margin-left: 39%;
padding:0;
}

.navbarloginp2{
   font-size:0.5em;
   color:#FFCF40;
text-align: center;
   letter-spacing:3px;
}

.roomform{
	background-color: #aaa;
}

.section1{
 background-image: url("section1.jpg");
 background-size: 100% auto;
 background-repeat: no-repeat;
height:85vh;
}

.section1div1{
  display:flex;
}

.section1div11{
width:60vw;
}

.section1div12{
width:40vw;
height: auto;
margin:0 5%;
padding: 0 2%;
padding-bottom: 10%;
margin-top: 1.5%;
background-image: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
border-radius: 2em;
}

.section1div12p1{
  color:white;
  padding:0;
  margin:0;
}

.section1div12p2{
  color: white;
    padding:0;
  margin:0;
}

.forminput{
  color:white;
}

.section1div12h1{
  color: white;
  text-align: center;
  margin-top: 20%;
}

.section2h1{
  font-family: 'Roboto Slab';
  color: #444;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left:5%;
}




.li1{
  margin-left: 1%;
  height:10vh;
  width:30vw;
}



.li2,.li3,.li4,.li5{
  height: 10vh;
  width: 30vw;
}

.section2{
  display:block;
height: 60vh;
width: 90vw;
}


.section2p1{
  width: 15vw;
  margin-left: 45%;
  border-top:2px solid #A67C00;

}

.section2p2{
font-size:1em;
margin-left: 10%;
margin-right:5%;
margin-bottom:1%;
}

.section2ul{
  display: flex;
  list-style: none;
  margin-left: 6%;
  position: ;
}


.section3{
display:block;
height:95vh;
width:98vw;
margin-bottom: 2%;
}

.section3div1{
  display:flex;
  height:20vh;
  width:20vw;
}

.section3div11{
  width:60vw;
}

.imagesection3div11{
  width:60vw;
  height: auto;
  border-radius: 0 0 5em 0;
  box-shadow: 10px 8px 6px -6px #444;
}

.section3div12{
  width:40vw;
  height:90vh;
}


.section3div12h1{
  color:#444;
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  font-size: 2em;
}

.section3div12pline{
  border-top:2px dotted #A67C00;
  margin:0;
  padding:0;
  width:8vw;
  margin-left:40%;
  margin-bottom:2%;

}

.section3div12title{
    font-family: 'Roboto Slab';
    color:#444;
    width:37vw;
    text-align: center;
    margin-top:10%;
    margin-bottom: 10%;
}


.section3div12h1fontawesome{
  color:#A67C00;
  font-size: 1.5em;
  text-align: center;
  padding:0;
  margin:0;
  margin-bottom:2%;

}

.separator{
  margin:5% 0;
}

.section3div12p{
  margin-left:5%;
}

.section4{
  height:100vh;
  width:98vw;
}

.section4div1{
  display: flex;

}

.section4div11 {
  margin-top: 2%;
  margin-right: 2%;
}

.image1, .image2, .image3,
.image4 ,.image5{
  box-shadow: 0 8px 6px -6px #444;
}

.imagesection4div12{
  margin-top:6%;
  width:60vw;
  height:auto;
  border-radius: 5em 0 0 5em;
  box-shadow: -10px 10px 6px -6px #444;
}

.footerdiv11{
  height:40vh;
  background-color: #333;
}

.footerdiv12{
  height:10vh;
    background-color: #111;
}

.footerdiv11h1 {
    font-size: 1.5em;
    font-family: 'Roboto Slab';
    color:#aaa;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    padding: 2% 0 1% 0;
}

.footerdiv11p1{
  border-top: 2px solid  #A67C00;
  width:40vw;
  margin:0;
  margin-left: 30%;
  padding:0;
}

.footerdiv112{
  display:flex;
}

.footerdiv1121{
  height:20vh;
  width:30vw;
}

.footerdiv1121h4{
  color:#aaa;
  letter-spacing: 1px;
  margin-bottom: 1%;
  margin-left:10%;
  margin-top: 10%;
}

.footerdiv1121p1{
  border-top:1px solid #aaa;
  width:70%;
  padding:1%;
  margin:1%;
  margin-left:15%;
}

.footerdiv1121p2{
   font-size: 0.5em;
   color:#FFCF40;
   margin-left:30%;
   margin-top:1%;
   letter-spacing:3px;
}

.footerdiv1122{
  height:20vh;
  width:20vw;
}

.footerdiv1122h5{
  color:#aaa;
  font-family: 'Roboto Slab';
  margin-top:5%;
  letter-spacing: 1px;

}

.footerdiv1122p{
  color:#aaa;
  margin:0;
  padding:0;
  letter-spacing: 1px;
}

.footerdiv1123{
  height:20vh;
  width:20vw;
}


.footerdiv1123h5{
  color:#aaa;
  font-family: 'Roboto Slab';
  margin-top:5%;
  letter-spacing: 1px;

}

.footerdiv1123p{
  color:#aaa;
  margin:0;
  padding:0;
  letter-spacing: 1px;
}

.footerdiv1125ul{
  display: flex;
  list-style: none;
  color:#aaa;
  margin-left:7%;
  padding: 1% 1%;
}

.footerdiv1125ul>li{
  padding:0 1%;
  border-right: 1px solid #aaa;
}

.section7div1{
  display:flex;
}


.section7div12pline{
    border-top:2px dotted #A67C00;
  margin:0;
  padding:0;
  width:8vw;
  margin-left:42%;
  margin-bottom:2%;
}
.imagesection7div11{
  border-radius: 0 5em 5em 0;
  box-shadow: 10px 8px 6px -6px #444;
  width:40vw;
  height:auto;
}
.section7div12{
  width:59vw;
  height:auto;
}

.section7div12pfontawesome{
  color:#A67C00;
  font-size: 2em;
  text-align: center;
  padding:0;
  margin:0;
  margin-bottom:2%;
  margin-top: 5%;
}

.section7div12h4{
  color:#444;
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  font-size: 2.5em;
}

.section7div12p2, .section7div12p3{
  margin:2% 5%;
}


.section5{
  height:20vh;
  width: 98vw;
padding:2% 10%;
padding-left:15%;
margin-top: 2%;
}

.section5div1{
  display:flex;
}

.section5div11{
  width:15vw;
}

.section5div12{
  width: 42vw;
}

.section5div13{
  width:10vw;
}

.imagesection5div11{
  margin-left:10%;
  height:15vh;
  width: auto;
}

.section5div12p{
  font-family: 'Roboto Slab';
  margin:5% 2% 2% 2%;
}

.buttonsection5div13{
  margin-top:25%;
  padding:2%;
  margin-left: 10%;
    font-family: 'Roboto Slab';
    width:10vw;
}


.section8{
  height:80vh;
  width: 98vw;
}

.section8h1{
    text-align: center;
    color: #555;
    font-size: 2em;
}

.section8div11image{
  height: 70vh;
  margin-left:25vw;
}


.section8div1{

  width:90vw;
  display: flex;
}

.section8div11{

    width:49vw;
}

.section8div12{

    width:49vw;

}
.section8div12h5{
  margin-left:5vw;
  margin-top: 10%;
  margin-bottom:2%;
}

.section8div12ol{
  color: #A67C00;
  margin-left: 5%;
}

.section8div121{
  display:flex;
}

.section8div121image{
  height:8vh;
  width: 12vw;
  border-radius: 0.5em;
  margin-left:1%;
}

.section9{
  height:100vh;
  width:98vw;
}

.section9fontawesome{
  color:#A67C00;
  font-size: 1.5em;
  text-align: center;
  padding:0;
  margin:0;
}

.section9h1{
  text-align: center;
  padding:0;
  margin:0;
  margin-bottom: 1%;
  margin-top: 1%;

  color:#444;
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  font-size: 2.5em;
}

.section9pline{
  border-top:2px dotted #A67C00;
  margin:0;
  padding:0;
  width:8vw;
  margin-left:46%;
  margin-bottom:1%;

}

.section9p1{
  padding:0 5%;
}

.section9div1{
  display:flex;
}

.section9div11{
}

.section9div12{
  width:40vw;
}

.section9div12h3{
  text-align: center;
  margin-top: 12%;
  font-size: 2em;
  font-family: 'Roboto Slab';
}

.section9div12p1{
  margin: 5% 4%;

}

.section9div12ul{
  margin-left: 20%;
  list-style: none;
}

.fa-check-square{
  margin:0 1%;
  color: #A67C00;
}

.section6{
  width:98vw;
  height:58vh;
  padding:0;
  margin:0;
  margin-top: 2%;
  margin-bottom: 2%;
}

.imagesection6div12{
  width:60vw;
  height:auto;
  border-radius: 5em 0 0 5em;
  margin-top: 5%;
  box-shadow: -2px 8px 6px 2px #444;
}

.section6div1{
  display:flex;
}

.section6div11{
  width:40vw;
  margin-top: 3%;
}

.section6div12{
width: 60vw;
}

.section6div11fontawesome{
  color:#A67C00;
  font-size: 1.5em;
  text-align: center;
  padding:0;
  margin:0;
  text-align: center;
}

.section6div11h1{
  text-align: center;
  padding:0;
  margin:0;
  margin-bottom: 1%;
  color:#444;
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  font-size: 2.5em; 
}

.section6div11p2{
  margin: 0 5%;
}

.section6div11pline{
  border-top:2px dotted #A67C00;
  margin:0;
  padding:0;
  width:8vw;
  margin-left:40%;
  margin-bottom:2%;
}


.section67p{
  color:#A67C00;
  font-size: 1.5em;
  text-align: center;
  padding:0;
  margin:0;
  text-align: center;
}

.section67h1{
    text-align: center;
  padding:0;
  margin:0;
  margin-bottom: 1%;
  margin-top: 1%;

  color:#444;
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  font-size: 2.5em;
}

.section67pline{
  border-top:2px dotted #A67C00;
  margin:0;
  padding:0;
  width:8vw;
  margin-left:46%;
}

.section67div1{
  display:flex;
}

.section67div11{
  width:35%;
}

.imagesection67div1{
  width:25vw;
  border-radius: 5em 5em 0 5em;
  margin-left: 30%;
  box-shadow: -2px 8px 6px 2px #444;
}

.section67p1{
  margin:0 5%;
}

.section67div12{
  width:60%;
}

.section67p1{
  margin-top: 6vh;
}

.section67{
  height:80vh;
  width:98vw;
}

.section67div12ul{
  display:flex;
}

.imagesection67div12ul1,
.imagesection67div12ul2,
.imagesection67div12ul3,
.imagesection67div12ul4
{
  height:15vh;
  width:12vw;
  margin-left: 1vw;
  border-radius: 2em 2em 2em 2em;
  margin-top: 5vh;
  box-shadow: -2px 8px 6px 2px #444;
}

.imagesection67div12ul1{
  margin-left: 3vw;
  border-radius: 0 2em 2em 0;

}